:root{
    --white-color: #ffffff;
    --black-color: #000000;
    --text-color: #333;
    --primary-color: #f01c26;
    --primary-color-rgba: rgba(253, 167, 171, 0.904);
    --border-color: #e6e6e6;
    --navbar-height: 34px;
    --header-height: 150px;
--header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}
*{
    box-sizing: inherit;

}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid_fullgrid{
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-left:-5px ;
    margin-right: -5px;
}
.grid__column-2 {
    width: calc((100% / 12) * 2);
    padding-left: 5px;
    padding-right: 5px;
}
.grid__column-2-4 {
    width: 20%;
    padding-left: 5px;
    padding-right: 5px;
   box-sizing: border-box;
}
.grid__column-10 {
    width: calc((100% / 12) * 9.9);
    padding-left: 5px;
    padding-right: 5px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@keyframes growth{
    from{
        transform: scale(var(--growth-from));
    }
    to{
        transform: scale(var(--growth-to));
    }
}



.modal {
    position: fixed;
    inset:0;
     display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn linear 0.3s;
}

.modal__overlay {
        inset: 0;

    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    padding: 0px;
    background-color: var(--white-color);
    margin: auto;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    animation: growth linear 0.1s;
}



.btn {
    min-width: 142px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 8px;
    cursor: pointer;
color: var(--text-color);
display: inline-flex;
justify-content: center;
align-items: center;


}
.btn.btn--normal:hover {
    background-color: rgba(0,0,0,0.5);
}
.btn.btn--primary {
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
}

.btn.btn--disable {
    background-color: #ccc;
    color: #999;
    cursor: not-allowed;
    
}
.btn.btn--size-s{
    height: 32px;
    font-size: 12px;

}

.select-input{
    padding: 0 12px;
    height: 34px;
    min-width: 200px;
    border-radius: 2px;
    background-color: var(--white-color);
    display:flex ;
    align-items: center;
    justify-content: space-between;
    position: relative;

}
.select-input_label{
    font-size: 1.6rem;
    color: var(--text-color);
}
.select-input_icon{
    font-size: 1.8rem;
    color: var(--text-color);
    position: relative;
    top: 1px;
    
}
.select-input__list{
  position: absolute;
  left: 0;
  right: 0;
  top: 25px;
  border-radius: 2px;
  background-color: var(--white-color);
    padding: 8px 16px;
    list-style: none;
    display: none;
}

.select-input__link{
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 4px 0;
    cursor: pointer;
    text-decoration: none;
    display: block;
    
}

.select-input__link:hover{
    color: var(--primary-color-rgba);
}

.select-input:hover .select-input__list{
    display: block;
}
.select-input__item{
    margin: 5px 0 0 0;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 50px;
    margin-bottom:30px ;
}
.pagination__item{
    margin: 0 4px;
}
.pagination-item__link{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 42px;
    height: 32px;
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
    display: block;
    text-align: center;
    line-height: 32px;
    border-radius: 2px;
}
.pagination-item__icon{
    font-size: 1.6rem;
}

.footer{
    border-top: 4px solid var(--primary-color);
    padding-top:12px;
}
.footer-heading{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-bottom: 16px;
    text-transform: uppercase;
}
.footer-item__link a 
{
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 2px 0;
    display: block;
}
.footer-list{
    padding-left: 0;
    list-style: none;
}
.footer-item__link:hover a{
    color: var(--primary-color-rgba);
}


.footer__download{
    display: flex;
}
.footer__download-pr{
    width: 80px;
    height: 80px;
    object-fit: contain;
    border: 1px solid var(--border-color);
}
.footer__download-apps{
flex: 1;
margin-left: 16px;
}
.footer__download-apps-img{
    margin-left: 16px;
}
.footer__download-app{
    height: 20px;
    object-fit: contain;
}