:root{
    --white-color: #ffffff;
    --black-color: #000000;
    --text-color: #333;
    --primary-color: #ee9fa3;
    --primary-color-rgba: rgba(253, 167, 171, 0.904);
}
*{
    box-sizing: inherit;

}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid_fullgrid{
    width: 100%;
}

.grid_row {
    display: flex;
    flex-wrap: wrap;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}