:root{
    --white-color: #ffffff;
    --black-color: #000000;
    --text-color: #333;
    --primary-color: #f01c26;
    --primary-color-rgba: rgba(253, 167, 171, 0.904);
    --border-color: #e6e6e6;
    --navbar-height: 34px;
    --header-height: 150px;
--header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}
*{
    box-sizing: inherit;

}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid_fullgrid{
    width: 100%;
}

.grid_row {
    display: flex;
    flex-wrap: wrap;
}
.grid__column-2 {
    width: 20%;
    
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@keyframes growth{
    from{
        transform: scale(var(--growth-from));
    }
    to{
        transform: scale(var(--growth-to));
    }
}



.modal {
    position: fixed;
    inset:0;
     display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn linear 0.3s;
}

.modal__overlay {
        inset: 0;

    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    padding: 0px;
    background-color: var(--white-color);
    margin: auto;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    animation: growth linear 0.1s;
}



.btn {
    min-width: 142px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 8px;
    cursor: pointer;
color: var(--text-color);
display: flex;
justify-content: center;
align-items: center;


}
.btn.btn--normal:hover {
    background-color: rgba(0,0,0,0.5);
}
.btn.btn--primary {
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
}

.btn.btn--disable {
    background-color: #ccc;
    color: #999;
    cursor: not-allowed;
    
}
.btn.btn--size-s{
    height: 32px;
    font-size: 12px;

}