.header {
  height: var(--header-height);
  background-image: linear-gradient(0, #c40101, #ce0000);
}
.header__navbar {
  display: flex;
  justify-content: space-between;
  height: var(--navbar-height);
}
.header__navbar-list {
  list-style: none;
  padding-left: 0px;
  margin-top: 4px 0 0 0;
}

.header__navbar-item {
  margin: 8px;
  position: relative;
}

.header__navbar-item--has-notify:hover .header__notify {
  display: block;
}
.header__navbar-item--has-qr:hover .header__qr {
  display: block;
}

.header__navbar-item,
.header__navbar-item-link {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
  display: inline-flex;
  align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
  cursor: pointer;
  color: #c4c1c1;
}
.header__navbar-item-link--bold {
  font-weight: 400;
  display: inline-block;
  font-size: 1.4rem;
  color: var(--white-color);
  text-decoration: none;
}

.header__navbar-item--seperate::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 12px;
  border-left: #ffffff 1px solid;
  right: -9px;
  top: 10%;
}
.header__navbar-icon-link {
  color: var(--white-color);
  text-decoration: none;
}

.header__navbar-icon {
  font-size: 1.8rem;
  margin: 0 4px;
}
.header__navbar-item--no-pointer {
  cursor: text;
  color: var(--white-color);
}

.header__qr {
  width: 186px;
  background-color: var(--white-color);
  position: absolute;
  left: 0;
  top: 120%;
  padding: 8px;
  border-radius: 2px;
  display: none;
  animation: fadeIn ease-in 0.3s;
  box-shadow:0 1px 2px rgba(0, 0, 0, 0.1) ;
  z-index: 1;
}

.header__qr::before {
  position: absolute;
  left: 0;
  top: -16px;
  width: 100%;
  height: 20px;
  content: "";
  display: block;
}

.header__qr-img {
  width: 100%;
}
.header__qr-download-img {
  height: 15px;
}
.header__qr-apps {
  display: flex;
  margin-top: 8px;
  justify-content: space-between;
}

.header__qr-link:first-child {
  margin-left: 11px;
}
.header__qr-link:last-child {
  margin-right: 11px;
}

.header__notify {
  position: absolute;
  top: 100%;
  width: 404px;
  background-color: #ffffff;
  right: 0;
  border: 1px solid #c9c9c9;
  cursor: default;
  transform-origin: 90% top;
  animation: headerNotifyGrowth ease-in 0.2s;
  display: none;
  margin-top: 13px;
  will-change: opacity, transform;
  z-index: 2;
}
.header__notify::before {
  content: "";
  border-width: 20px 27px;
  border: 20px solid;
  border-color: transparent transparent #ffffff transparent;
  position: absolute;
  right: 4px;
  top: -30px;
}

.header__notify::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: -16px;
  height: 20px;
  width: 90px;
}
@keyframes headerNotifyGrowth {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.header__notify-header {
  height: 40px;
  background-color: var(--white-color);
}
.header__notify-header h3 {
  color: #666;
  margin: 0 0 0 12px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 40px;
  cursor: text;
}
.header__notify-list {
  padding-left: 0;
  list-style: none;
}

.header__notify-item {
  display: flex;
}
.header__notify-item:hover {
  background-color: #aaaaaa;
}

.header__notify-item--viewed {
  background-color: var(--primary-color-rgba);
}
.header__notify-link {
  padding: 12px;
  display: flex;
  width: 100%;
  align-items: center;
  text-decoration: none;
}
.header__notify-img {
  width: 48px;
  object-fit: contain;
}
.header__notify-info {
  margin-left: 12px;
  display: flex;
  flex-direction: column;
}
.header__notify-name {
  display: block;
  color: var(--black-color);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8rem;
}
.header__notify-descript {
  display: block;
  font-size: 1.6rem;
  color: #666;
}

.header__notify-footer {
  display: flex;
}
.header__notify-footer-btn {
  text-decoration: none;
  color: var(--text-color);
  margin: auto;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 8px 48px;
}

/*authen form*/

.auth-form__container {
  padding: 0 32px;
}
.auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  margin-top: 10px;
}

.auth-form__heading {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text-color);
}

.auth-form__switch-btn {
  font-size: 1.4rem;
  color: var(--primary-color);
  cursor: pointer;
  font-weight: 500;
}

.auth-form__form {
  margin-top: 16px;
}

.auth-form {
  width: 500px;
  padding: 24px;
}

.auth-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 12px;
  font-size: 1.4rem;
  outline: none;
  margin-top: 16px;
  outline: none;
}

.auth-form__input:focus {
  border-color: var(--primary-color);
}

.auth-form__aside {
  margin-top: 20px;
}
.auth-form__policy-text {
  font-size: 1.2rem;
  color: #666;
  line-height: 1.6rem;
  text-align: center;
  padding: 0 12px;
}

.auth-form__policy-link {
  color: var(--primary-color);
  text-decoration: none;
}

.auth-form__controls {
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;
}

.auth-form__controls-back {
  margin-right: 8px;
  background-color: var(--white-color);
  border: 1px solid #ccc;
}
.auth-form__socials {
  background-color: #f5f5f5;
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  margin: 24px -24px -24px;
  flex: 1;
  gap: 12px;
}

.auth-form__socials--icon {
  font-size: 1.6rem;
}

.auth-form__socials--title {
  margin: 0 36px;
}

.auth-form__socials--facebook {
  background-color: #3a5a98;
  color: var(--white-color);
}

.auth-form__socials--google {
  background-color: var(--white-color);
  color: #666;
}

.auth-form__socials--facebook .auth-form__socials-icon {
  color: var(--white-color);
}

.auth-form__socials--google .auth-form__socials-icon {
  color: #666;
}
.auth-form__socials .btn {
  flex: 1;
  height: 36px;
  font-size: 13px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-form__help {
  display: flex;
  justify-content: flex-end;
}
.auth-form__help--link {
  font-size: 1.2rem;
  color: var(--primary-color);
  text-decoration: none;
}
.auth-form__help--seperate {
  display: block;
  height: 25px;
  margin: -4px 16px 0px;
  border-left: 1px solid #c9c9c9;
}
.auth-form__help--forgot {
  color: var(--primary-color);
}

.header-with-search {
  height: var(--header-with-search-height);
  display: flex;
  align-items: center;
  margin: 0 8px;
}

.header__logo {
  width: 200px;
}
.header__logo-img {
  height: 90%;
  color: var(--white-color);
}

.header__search {
  flex: 1;
  height: 40px;
  border-radius: 2px;
  background-color: #ffffff;
  margin: 0 16px;
  display: flex;
  align-items: center;
}

.header__cart {
  width: 150px;
  display: flex;
  align-items: center;
  z-index: 1;
}
.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}
.header__cart-list::after{
    content: "";
    position: absolute;
    right: 15px;
    top: -30px;
    border-width: 20px;
    border-style: solid ;
    border-color: transparent transparent #ffffff transparent;
}

.header__cart-list {
  position: absolute;
  top: calc(100% + 4px);
  right: -5px;
  width: 400px;
  background-color: var(--white-color);
  box-shadow: 0 0 3px 0  rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  margin-top: 12px;
  display: none;
  animation: fadeIn ease-in 0.3s;
  cursor: default;
}

.header__cart:hover .header__cart-list {
  display: block;

}


.header__cart-no-cart-img {
  width: 54%;
  display: block;
  margin: 16px auto 8px auto;
}

.header__cart-list--no-cart{
    padding: 24px 0;
}

.header__cart-no-cart-msg {
  text-align: center;
  font-size: 1.4rem;
  color: #666;
}
.header__cart-icon {
  color: var(--white-color);
  font-size: 2.4rem;
  margin-top: 6px;
}
.header__search-input-wrap {
  position: relative;
  flex: 1;
  height: 100%;
}
.header__search-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  padding: 0 12px;
  color: var(--text-color);
}

.header__search-select {
  border: 1px solid #ccc;
  padding-left: 16px;
  position: relative;
  border-left: 1px solid #ccc;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  font-size: 1.4rem;
}
.header__search-select:hover .header__search-option {
  cursor: pointer;
  display: block;
}
.header__search-select label {
  font-size: 1.5rem;
  color: var(--text-color);
}
.header__search-select-icon {
  font-size: 1.7rem;
  color: #4a4444;
  margin: 4px 16px;
  position: relative;
  top: 2px;
}

.header__search-btn {
  height: 34px;
  border: none;
  width: 60px;
  background-color: var(--primary-color);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 3px;
  outline: none;
}
.header__search-btn-icon {
  font-size: 1.4rem;
  color: var(--white-color);
}

.header__search-btn:hover {
  background-color: #d10b0e;
}

.header__search-option {
  position: absolute;
  right: 0;
  top: 100%;
  width: 130px;
  list-style: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  padding-left: 0px;
  /* overflow: hidden; */
  display: none;
}

.header__search-option::after {
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  top: -10px;
  position: absolute;
  left: 0;
}
.header__search-option-item {
  background-color: var(--white-color);
  /* border-radius:3px ; */
  padding: 8px 8px;
}
.header__search-option-item:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
.header__search-option-item span {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-left: 8px;
}
.header__search-option-item i {
  font-size: 1.2rem;
  color: var(--primary-color);
  margin: 0 8px 0 8px;
  display: none;
}

.header__search-option-item--active i .header__search-option-item i {
  display: inline-block;
}

.header__search-input:focus ~ .header__search-history {
  display: block;
}
.header__search-history {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  width: calc(100% - 16px);
  background-color: var(--white-color);
  border-radius: 3px;
  box-shadow: 0 0 3px #aaaaaa;
  display: none;
  overflow: hidden;
  z-index: 1;
}

.header__header-history {
  margin: 8px 12px;
  font-size: 1.4rem;
  color: #666;
  font-weight: 400;
}
.header__search-history-list {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 8px;
}
.header__search-history-item {
  padding: 8px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 38px;
}
.header__search-history-item:last-child {
  border-bottom-left-radius: 3px;
}
.header__search-history-item a {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--text-color);
}
.header__search-history-item:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}




.app__container {
    background-color: #e7e5e5;
    margin-top: -12px;
}

.category {
    background-color: transparent;
    border-radius: 2px;
}
.category-list {
    list-style: none;
    padding: 0 0 8px 0;
    margin-left: 12px;
}

.category-heading {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--text-color);
    padding: 12px 16px;
    border-bottom: 1px solid #cfc6c6;
    margin-top: 0;
}
.category__heading-icon {
    font-size: 1.4rem;
    margin-right:4px ;
    position: relative;
    top: 1px;
}

.category-item--active .category-item__link{
    
color: var(--primary-color);

}
.category-item--active .category-item__link::before{
    position: absolute;
    border: 4px solid;
    top: 50%;
    left: 4px;
    content: "";
    transform: translateY(-50%);
    border-color: transparent transparent transparent var(--primary-color);
}
.category-item__link{
    position: relative;
    right: 0;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 8px 16px;
    display: block;
    transition:right linear 0.1s ;
}

.category-item__link:hover {
    background-color: #dfc9c9;
    cursor: pointer;
    right: -4px;
}
.app__content {
   padding-top: 36px;
}
.home-filter {
  background-color:rgba(0, 0, 0, 0.04) ;
  display: flex;
  align-items: center;
  padding: 1px 22px;
  border-radius: 2px;
  position: relative;
  justify-content: space-between;
  min-height: 60px;
}
.home-filter__page{
   display: flex;
  align-items: center;
  margin-left: auto;
}
.home-filter__label{
  font-size: 1.4rem;
  color: #666;
  margin-right: 16px;
}
.home-filter__btn{
  border: none;
  background-color: transparent;
  font-size: 1.4rem;
  color: var(--text-color);
  padding: 8px 12px;
  cursor: pointer;
  margin-right: 12px;
  min-width: 90px;
}
.home-filter__page-num{
  font-size: 1.4rem;
  color: var(--text-color);
  margin-right: 22px;
  align-items: center;
}
.home-filter__page-current{
  font-weight: 500;
  color: var(--primary-color);
}

.home-filter__page-control{
  border-radius: 2px;
  overflow: hidden;
display: flex;
width: 72px;
height: 36px;
}
.home-filter__page-btn{
    background-color: var(--white-color);
    border-radius: 2px;
    color: var(--text-color);
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.home-filter__page-icon{
  margin: auto;
  font-size: 1.4rem;
}
.home-filter__page-btn:first-child{   
  border-right: 1px solid #b1aaaa;
  background-color: #aaaaaa;
}


.home-filter__paginate{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wraping
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.home-filter__page-btn--disabled .home-filter__page-icon{
    background-color: #ccc;
    cursor: default;
}





/* product item */


.home-product-item{
    background-color: var(--white-color);
    margin-top: 10px;
    position: relative;
    margin-right:4px ;
    box-shadow: 0 0.1rem 0.125rem rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s, box-shadow linear 0.1s;
    will-change: transform, box-shadow;
}
.home-product-item:hover{
  transform: translateY(-1px);
    box-shadow: 0 0.2rem 0.25rem rgba(0, 0, 0, 0.2);}
.home-product-item__img{
  padding-top: 100%;
  background-repeat:no-repeat ;
  background-size: contain;
  background-position: center;

}
.home-product-item__name{
    font-size: 1.4rem;
    color: var(--text-color);
    margin: 10px 10px 6px ;
    height: 3.6rem;
    overflow: hidden;
    font-weight: 400;
    line-height: 1.8rem;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.home-product-item__price{
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 500;
    margin: 0 8px;
    display: block;
    margin-bottom: 12px;
    flex-wrap: wrap;
}
.home-product-item__price-old{
    font-size: 1.2rem;
    color: #999;
    text-decoration: line-through;
    margin-left: 8px;
}
.home-product-item__action{
    display: flex;
    justify-content: space-between;
   
    margin: 10px 10px 0;
}

.home-product-item__rating{
  font-size: 1rem;
  color: #d1ab39;
}
.home-product-item__origin{
display: flex;
margin: 0 10px;
color: #4d4a4a;
font-size: 1.2rem;
font-weight: 300;
margin-top: 3px;
}
.home-product-item__origin-name{
  margin-left:auto ;
}
.home-product-item__favorite{
  position: absolute;
  top: 8px;
  left: -4px;
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
  background-color: var(--primary-color);
  line-height: 1.6rem;
  padding-right: 4px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.home-product-item__favorite i{
  font-size: 0.9rem;
  margin: 0 4px  0 4px;
}
.home-product-item__favorite::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
   
    border-top:4px solid var(--primary-color) ;
    border-left: 4px solid transparent ;
}
.home-product-item__sale-off{
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #f2ff3f;
    color: #ffffff;
    width: 40px;
    height: 36px;
    text-align: center;
}

.home-product-item__sale-off-percent{
    font-size: 1.4rem;
    font-weight: 700;
    color: #d80000;
    line-height: 1.6rem;
    position: relative;
}
.home-product-item__sale-off-label{
    font-size: 1.2rem;
    color: #fff9f9;
    font-weight: 500;
}
.home-product-item__sale-off::after{
  content:"";
  position: absolute;
  left: 0;
  bottom: -6px;
  border-width: 0 20px 6px;
  border-style: solid;
  border-color: transparent #f2ff3f transparent #f2ff3f;
}