.header{
    height: 120px;
    background-image: linear-gradient(0, #eecccc,#e40d0d);
}
.header__navbar {
    display: flex;
    justify-content: space-between;
}
.header__navbar-list{
    list-style: none;
        padding-left: 0px;

}

.header__navbar-item{
    margin: 8px ;
}

.header__navbar-item, .header__navbar-item-link{
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;

}
.header__navbar-item-link--bold{
    font-weight: 400;
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-item--seperate::after{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 12px;
    border-left: #ffffff 1px solid;
    right: -9px;
    top: 50%;
}
