.header{
    height: 120px;
    background-image: linear-gradient(0, #eecccc,#e40d0d);
}
.header__navbar {
    display: flex;
    justify-content: space-between;
}
.header__navbar-list{
    list-style: none;
        padding-left: 0px;
        margin-top: 4px;

}

.header__navbar-item{
    margin: 8px ;
    position: relative;
}

.header__navbar-item--has-qr:hover .header__qr{
    display: block;
}

.header__navbar-item, .header__navbar-item-link{
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;

}
.header__navbar-item, .header__navbar-item-link , .header__navbar-icon-link{
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover, .header__navbar-item-link:hover, .header__navbar-icon-link:hover{
    cursor: pointer;
    color: #c4c1c1;
}
.header__navbar-item-link--bold{
    font-weight: 400;
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-item--seperate::after{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 12px;
    border-left: #ffffff 1px solid;
    right: -9px;
    top: 10%;
}
.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon{
    font-size: 1.8rem;
    margin: 0 4px;
}
.header__navbar-item--no-pointer{
    cursor: text;
    color: var(--white-color)
}









.header__qr{
width: 186px;
background-color: var(--white-color);
position: absolute;
left: 0;
top: 120%;
padding: 8px;
border-radius: 2px;
display: none;
animation: fadeIn ease-in 0.3s;
}

.header__qr::before{
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;

}

.header__qr-img{
    width: 100%;
}
.header__qr-download-img{

    height: 15px;
}
.header__qr-apps{
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
}

.header__qr-link:first-child{
    margin-left: 11px;
}
.header__qr-link:last-child{
    margin-right: 11px;
}