.header{
    height: 120px;
    background-image: linear-gradient(0, #eecccc,#e40d0d);
}
.header__navbar {
    display: flex;
    justify-content: space-between;
}
.header__navbar-list{
    list-style: none;
        padding-left: 0px;
        margin-top: 4px;

}

.header__navbar-item{
    margin: 8px ;
    position: relative;
}


.header__navbar-item--has-notify:hover .header__notify{
    display: block;
}
.header__navbar-item--has-qr:hover .header__qr{
    display: block;
}

.header__navbar-item, .header__navbar-item-link{
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;

}
.header__navbar-item, .header__navbar-item-link , .header__navbar-icon-link{
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover, .header__navbar-item-link:hover, .header__navbar-icon-link:hover{
    cursor: pointer;
    color: #c4c1c1;
}
.header__navbar-item-link--bold{
    font-weight: 400;
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-item--seperate::after{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 12px;
    border-left: #ffffff 1px solid;
    right: -9px;
    top: 10%;
}
.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon{
    font-size: 1.8rem;
    margin: 0 4px;
}
.header__navbar-item--no-pointer{
    cursor: text;
    color: var(--white-color)
}









.header__qr{
width: 186px;
background-color: var(--white-color);
position: absolute;
left: 0;
top: 120%;
padding: 8px;
border-radius: 2px;
display: none;
animation: fadeIn ease-in 0.3s;
}

.header__qr::before{
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;

}

.header__qr-img{
    width: 100%;
}
.header__qr-download-img{

    height: 15px;
}
.header__qr-apps{
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
}

.header__qr-link:first-child{
    margin-left: 11px;
}
.header__qr-link:last-child{
    margin-right: 11px;
}




.header__notify{
 position: absolute;
 top: 100%;
 width: 404px;
 background-color: #ffffff;
 right: 0;
 border: 1px solid #c9c9c9;
 cursor: default;
 transform-origin: 90% top  ;
 animation: headerNotifyGrowth ease-in 0.2s;
 display: none;
 margin-top: 13px;
 will-change: opacity, transform;

}
.header__notify::before{
    content: "";
    border-width: 20px 27px;
    border: 20px solid ;
    border-color: transparent transparent #ffffff transparent;
    position: absolute;
    right: 4px;
    top: -30px;
}

.header__notify::after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    height: 20px;
    width: 90px;

}
@keyframes headerNotifyGrowth {
    from {
        transform: scale(0);
        opacity: 0;
    }to {
        opacity: 1;
        transform: scale(1);
    }
}
.header__notify-header{
height: 40px;
background-color: var(--white-color);

}
.header__notify-header h3 {
    color: #666;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    cursor: text;
}
.header__notify-list{
    padding-left: 0;
    list-style: none;
}

.header__notify-item{
    display: flex;
}
.header__notify-item:hover{
    background-color: #aaaaaa;
}

.header__notify-item--viewed{
    background-color: var(--primary-color-rgba);

}
.header__notify-link{
    padding: 12px;
    display: flex;
    width: 100%;
    align-items: center;
    text-decoration: none;
}
.header__notify-img{
    width: 48px;
    object-fit: contain;

}
.header__notify-info{
    margin-left: 12px;
    display : flex;
    flex-direction: column;
}
.header__notify-name{
    display: block;
color: var(--black-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
}
.header__notify-descript{
    display: block;
    font-size: 1.6rem;
    color: #666;
}

.header__notify-footer{
   display: flex;
   

}
.header__notify-footer-btn{
    text-decoration: none;
    color: var(--text-color);
       margin: auto;
font-size: 1.4rem;
font-weight: 400;
       padding: 8px 48px;
}